
.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.audioMenu {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

.audioMenu > .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}


.pitchControlsWrapper {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.pitchControlsWrapper .btn {
  padding: 5px 10px;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

.pitchControlsWrapper .btn.modify {
  background-color: antiquewhite;
  padding: 5px 15px;
  width: auto;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pitchControlsWrapper .value {
  display: inline-block;
  width: 30px;
  text-align: center;
}

.waveform-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-player {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.tape-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightgray;
  border: none;
  cursor: pointer;
}

button[data-playing="true"] .play {
  display: none;
}

button[data-playing="false"] .pause {
  display: none;
}

.canvas-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.duration-display {
  font-family: monospace;
}